.herosection {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  gap: 70px;
}

.herosection__projects {
  flex-basis: 30.9017%;
}


@media screen and (max-Width: 976px) {
  .herosection{
    flex-direction: column;
    padding-left: 10px;
  }
}
