.herosection {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  align-items: center;
  gap: 70px;
}

.herosection__projects {
  flex-basis: 30.9017%;
}

.herosection__intro h1 {
  font-size: 60px;
  font-weight: 300;
}

.herosection__intro p {
  font-size: 14px;
  max-width: 600px;
  text-align: justify;
}

button {
  cursor: pointer;
  padding: 8px 20px;
  background: transparent;
  color: #d1d1d1;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  margin-right: 10px;
  transition: all 0.3s ease;
}

button:hover {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}

.button__download {
  width: 28px;
  margin-left: 10px;
}

.button__flex {
  display: flex;
  align-items: center;
}

.herosection__projects h1 {
  font-size: 30px;
  font-weight: 400;
}

.herosection__projects p {
  cursor: pointer;
  transition: all 0.3s ease;
}

.herosection__projects p:hover {
  border-bottom: 1px solid #d1d1d1;
}
